# hidden files
.*

# logs
*.log

# config files
/*.toml

# coverage file
/coverage.out

# builds
/dist
/build
/internal/static/static_gen.go
/internal/migrations/migrations_gen.go
/static/logo
/static/static
/static/swagger/*.json
/static/index.html
/static/asset-manifest.json
/static/service-worker.js
/static/manifest.json
/static/icon.png
/static/precache-manifest.*.js
/ui/build
/docs/public

# dependencies
/vendor

# certificates
/certs

# node modules
node_modules
