# hidden files
.*

# logs
*.log

# config files
*.toml

# builds
/dist
/build
/internal/static
/internal/migrations
/static/logo
/static/static
/static/swagger/*.json
/static/index.html
/static/asset-manifest.json
/static/service-worker.js
/static/manifest.json
/static/icon.png
/ui/build
/docs/public

# dependencies
/vendor

# certificates
/certs

# node modules
node_modules
