language: go
sudo: required
dist: trusty

go:
  - "1.10.x"

services:
  - redis-server
  - postgresql

addons:
  postgresql: "9.5"

env:
  - TEST_POSTGRES_DSN=postgres://postgres@localhost/loraserver?sslmode=disable

before_install:
  - sudo apt-add-repository -y ppa:mosquitto-dev/mosquitto-ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y mosquitto
  - nvm install node
  - make requirements

before_script:
  - psql -c 'create database loraserver;' -U postgres
  - psql -c 'create extension pg_trgm;' -U postgres loraserver

script:
  - make test

before_deploy:
  - >
    if ! [ "$BEFORE_DEPLOY_RUN" ]; then
      export BEFORE_DEPLOY_RUN=1;

      make ui-requirements;
      git checkout -- ui/package-lock.json;
      make dist;

      rvm --default use system;
      sudo apt-get install -y ruby ruby-dev;
      sudo gem install --no-ri --no-rdoc fpm;

      PACKAGE_ARCH=x86_64 make package-deb;
      PACKAGE_ARCH=i386 make package-deb;
      PACKAGE_ARCH=armhf make package-deb;
      PACKAGE_ARCH=arm64 make package-deb;

      mkdir -p dist/upload/tar;
      mkdir -p dist/upload/deb;
      mv dist/*.tar.gz dist/upload/tar;
      mv dist/deb/*.deb dist/upload/deb;
    fi

deploy:
  - provider: s3
    skip_cleanup: true
    access_key_id: AKIAJRLX7TQLGT6NN7WQ
    secret_access_key:
      secure: qbLEMCnp3toWem+FCqX/M1+FBcRQuv8kQ7In83s9xILQxwOMYc3mBdqUd5Jdgb761drQD07Kc5bTPwOYFiadr0BiK5I5RZY0hSNjapmlD78pEIo4ew7WkHDH74ZzLXGFhECehI1709EUQK9Kb3b3PcAhG2k6E3A+CeNwN5ryvK2EiLSW2Wu8Bq9o7BdGEqT7BmKhBAU7ge/2Ohap1zCIX3Y85SWSm6EP2gf7nfr5v2XEj2PFcmW0n3W0I6/f+AlUX8MyvoQU431bWS3OVtjkjabzFlAFVbO2EBp0H2NF6NT2jRVHTCQ8wgP0zdsvOV2fnSBMgcZqZx6BLkBmev/OYRi2Z26cnMU1Ksly0frCBiDr+RbTC890wJwrOI+Z2oKRlvlz+cRI4xQ/ndt83HL34pBvYNFTVU6VVrzSnCrWDXRveoBILo5Rnec56UwXhWefXmdGWIBxavdGpW0kAIyZXrgbKc23+RE++StEa84Ryy9zgIpBBfpHTf+ny6Q7Kr/VoG2wmoQT2pylMtUWuUe+O4UW0IBXdAdmY9YzYgeyF1bNsDCwt3zlBV8R+zm8mep9ZfCIWNNurIHN0n3oGHjfgDUV0xg6Uui/clc4Ub2B3UgGaznKhdBkKVD25oK1KtjRFEeoSByXQ6RB6VvyKyGLUZzUwiUqnOZqD84LyzIHG1Y=
    bucket: builds.loraserver.io
    local-dir: dist/upload
    upload-dir: lora-app-server
    acl: private
    region: eu-west-1
    on:
      tags: true
      repo: brocaar/lora-app-server
