language: go
sudo: required
dist: trusty

go:
  - 1.8.x

services:
  - redis-server
  - postgresql

addons:
  postgresql: "9.5"

env:
  - TEST_POSTGRES_DSN=postgres://postgres@localhost/loraserver?sslmode=disable

before_install:
  - sudo apt-add-repository -y ppa:mosquitto-dev/mosquitto-ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y mosquitto
  - nvm install node
  - make requirements

before_script:
  - psql -c 'create database loraserver;' -U postgres

script:
  - make test

before_deploy:
  - make ui-requirements ui statics

  - rvm --default use system
  - sudo apt-get install -y python-pip ruby ruby-dev
  - sudo pip install -r requirements.txt
  - sudo gem install --no-ri --no-rdoc fpm
  - mkdocs build

  - GOOS=linux GOARCH=amd64 make package package-deb
  - GOOS=linux GOARCH=386 make package package-deb
  - GOOS=linux GOARCH=arm make package package-deb
  - GOOS=darwin GOARCH=amd64 make package
  - GOOS=windows BINEXT=.exe GOARCH=386 make package
  - GOOS=windows BINEXT=.exe GOARCH=amd64 make package

deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: rggSlEFkyknTCEUpyQuePLke1pjhq33+O2BHpgOjf1BzHZvxdb3Qyshnb7TaTUnCADXg0WAXCiBrmL6PoOorcX8LZqz4+gwSByJDq4ouG+FwYPMwf1JwJgsBlotLtAg2F3/fMkpkwct1yQ5dAxaJfUwMSWLIKn2CRRDEWGUsHkZnh0M4Uf8t8aeJEftCPXncaLbozoDSJnP55jIgV6jh8E0FV+u+3P7Rx0s1g3aYwHBLwFnDvTIAVgAwLfJvBEaKfhJjGpssIrHgqyPl1OKTnGMyPq+bt4n5hKtTaDsVgWAONsSL+pbklR/8qMum47Vm+tSelsMJ6txSY42fQ1KEGwTp7tyGE7zT5AbMMPTVcK8p41nkI2gdIESKJEgifDTw9J5WLEHrwXCwpFzJ0DpVsBOoRzPdK/YNXsPDw4W2zmLYPKxoeKKtDnOH8dBRPXkqEUJStnM9dhNQOWGMPbBVwyU7f/EA/1jgqyTB0ZqlMS+xnCxsLIU6DXEBUc7n/yAu9SVTyIGl5X2Gu0ErCp3grh9vxaNDhWJcw/Hs6DHnegTAlvY9VV8uF45WOe81SojEMvOOznOFMZJEhBC3RygK8TgHOUuszUAppdqUED1mn9blnI2JOfe+NZxhclDMkJhOgIZ/ZPiq1mn0QWFkyviViQpz2M/wdTsyh/c1tDzW5A8=
    file_glob: true
    file: "dist/tar/*.tar.gz"
    on:
      tags: true
      repo: brocaar/lora-app-server

  - provider: s3
    skip_cleanup: true
    access_key_id: AKIAJRLX7TQLGT6NN7WQ
    secret_access_key:
      secure: qbLEMCnp3toWem+FCqX/M1+FBcRQuv8kQ7In83s9xILQxwOMYc3mBdqUd5Jdgb761drQD07Kc5bTPwOYFiadr0BiK5I5RZY0hSNjapmlD78pEIo4ew7WkHDH74ZzLXGFhECehI1709EUQK9Kb3b3PcAhG2k6E3A+CeNwN5ryvK2EiLSW2Wu8Bq9o7BdGEqT7BmKhBAU7ge/2Ohap1zCIX3Y85SWSm6EP2gf7nfr5v2XEj2PFcmW0n3W0I6/f+AlUX8MyvoQU431bWS3OVtjkjabzFlAFVbO2EBp0H2NF6NT2jRVHTCQ8wgP0zdsvOV2fnSBMgcZqZx6BLkBmev/OYRi2Z26cnMU1Ksly0frCBiDr+RbTC890wJwrOI+Z2oKRlvlz+cRI4xQ/ndt83HL34pBvYNFTVU6VVrzSnCrWDXRveoBILo5Rnec56UwXhWefXmdGWIBxavdGpW0kAIyZXrgbKc23+RE++StEa84Ryy9zgIpBBfpHTf+ny6Q7Kr/VoG2wmoQT2pylMtUWuUe+O4UW0IBXdAdmY9YzYgeyF1bNsDCwt3zlBV8R+zm8mep9ZfCIWNNurIHN0n3oGHjfgDUV0xg6Uui/clc4Ub2B3UgGaznKhdBkKVD25oK1KtjRFEeoSByXQ6RB6VvyKyGLUZzUwiUqnOZqD84LyzIHG1Y=
    bucket: builds.loraserver.io
    local-dir: dist
    acl: private
    region: eu-west-1
    on:
      tags: true
      repo: brocaar/lora-app-server

  - provider: s3
    skip_cleanup: true
    access_key_id: AKIAJRLX7TQLGT6NN7WQ
    secret_access_key:
      secure: qbLEMCnp3toWem+FCqX/M1+FBcRQuv8kQ7In83s9xILQxwOMYc3mBdqUd5Jdgb761drQD07Kc5bTPwOYFiadr0BiK5I5RZY0hSNjapmlD78pEIo4ew7WkHDH74ZzLXGFhECehI1709EUQK9Kb3b3PcAhG2k6E3A+CeNwN5ryvK2EiLSW2Wu8Bq9o7BdGEqT7BmKhBAU7ge/2Ohap1zCIX3Y85SWSm6EP2gf7nfr5v2XEj2PFcmW0n3W0I6/f+AlUX8MyvoQU431bWS3OVtjkjabzFlAFVbO2EBp0H2NF6NT2jRVHTCQ8wgP0zdsvOV2fnSBMgcZqZx6BLkBmev/OYRi2Z26cnMU1Ksly0frCBiDr+RbTC890wJwrOI+Z2oKRlvlz+cRI4xQ/ndt83HL34pBvYNFTVU6VVrzSnCrWDXRveoBILo5Rnec56UwXhWefXmdGWIBxavdGpW0kAIyZXrgbKc23+RE++StEa84Ryy9zgIpBBfpHTf+ny6Q7Kr/VoG2wmoQT2pylMtUWuUe+O4UW0IBXdAdmY9YzYgeyF1bNsDCwt3zlBV8R+zm8mep9ZfCIWNNurIHN0n3oGHjfgDUV0xg6Uui/clc4Ub2B3UgGaznKhdBkKVD25oK1KtjRFEeoSByXQ6RB6VvyKyGLUZzUwiUqnOZqD84LyzIHG1Y=
    bucket: docs.loraserver.io
    local-dir: site
    upload-dir: lora-app-server
    acl: public_read
    region: eu-west-1
    on:
      branch: master
      repo: brocaar/lora-app-server
