body {
  padding-top: 87px;
}

/* width fix, see https://github.com/JedWatson/react-select/issues/323 */
.org-select .Select-input {
  position: absolute !important;
  top: 0 !important;
}

.org-select .is-open  {
	width: 200px !important;
}

.org-select .Select-value-label {
  display: block !important;
}

.org-select .Select-value {
  position: relative !important;
  line-height: 1.846 !important;
}

.org-select .Select-input input {
	padding: 0;
}

.org-select .Select-menu-outer {
  width: auto;
  min-width: 100%;
}

.org-select .Select-option {
  white-space: nowrap;
}

.org-select .Select-control {
  min-width: 100%;
  width: auto;
  height: 24px;
}

.org-select {
	display: inline-block;
}

.org-select .Select {
	height: 14px;
	top: -2px;
	margin-left: -10px;
	margin-right: -5px;
}

.org-select .Select-control:hover {
  box-shadow: none;
}

.org-select .Select-control {
	background-color: rgba(0,0,0,0);
	border: 0;
}

.org-select .Select-control .Select-value {
	padding-top: 0;
	padding-bottom: 0;
}

.org-select .Select-control .Select-value .Select-value-label {
	color: #2196f3 !important;
}

.org-select .Select-menu-outer {
	margin-top: 17px;
}

/* hide spinners on number fields */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* tabs underline */
.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

/* fix panel-title */
.panel-title-buttons {
	padding-top: 7.5px;
}

/* map legend */
.map-legend {
  /* background: rgba(0,0,0, 0.5); */
  background: rgba(255,255,255,0.7);
  padding: 10px;
  border-radius: 5px;
}

.map-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.map-legend ul li {
  font-weight: bold;
}

/* sticky footer */
/* http://getbootstrap.com/docs/3.3/examples/sticky-footer/sticky-footer.css */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

/* Fix react-select z-index for codemirror widget */
.is-open {
  z-index: 100 !important;
}