[Unit]
Description=LoRa App Server
Documentation=https://www.loraserver.io/
Wants=network-online.target
After=network-online.target

[Service]
User=appserver
Group=appserver
ExecStart=/usr/bin/lora-app-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
